.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 100000;
  pointer-events: none;
  // display: none;

  canvas {
    pointer-events: none;
  }

  &-counter {
    position: absolute;
    bottom: 250rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: Sofia Sans Condensed;
    font-weight: 700;
    font-size: 26rem;
    line-height: 77%;
    letter-spacing: -2rem;
    text-transform: uppercase;
    opacity: 0;

    @media (max-width: 1900px) and (max-height: 700px) and (min-width: 1100px) {
      bottom: 100rem;
    }

    @media (max-width: 1100px) {
      bottom: 10px;
      font-size: 18px;
    }
  }
}
