@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Outfit:wght@100..900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");
@import "tailwindcss";

:root {
  --bg-color: #f7f7f7;
  --text-color: #101010;
  --text-gray-color: #908c8c;
  --text-gray-second-color: #aaaaaa;
  --white: #ffffff;
  --transition-main: cubic-bezier(0.11, 0.82, 0.39, 0.92);
  font-family: "Sofia Sans Condensed", sans-serif;
}

::selection {
  background: var(--text-color);
  color: var(--bg-color);
}

html,
body {
  scroll-behavior: auto;
}

body {
  font-family: "Sofia Sans Condensed";
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

.container {
  max-width: 1800rem;
  margin: 0 auto;
  padding: 0 15rem;
}

.title {
  font-family: "Sofia Sans Condensed";
  font-weight: 700;
  font-style: Bold;
  font-size: 146rem;
  line-height: 99%;
  letter-spacing: -8%;
  text-transform: uppercase;
}

.link-line {
  position: relative;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
}

.link-line svg {
  margin-left: 20rem;
  width: 18rem;
  height: 18rem;
  transition: transform 0.5s var(--transition-main);
}

.link-line:before {
  background-color: rgb(239, 239, 239);
  bottom: 0;
  content: "";
  height: 2rem;
  left: 0;
  position: absolute;
  right: 0;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.8s var(--transition-main);
  transition-delay: 0s;
}

.link-line:after {
  background-color: rgb(239, 239, 239);
  bottom: 0;
  content: "";
  height: 2rem;
  left: 0;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.8s var(--transition-main);
  transition-delay: 0s;
}

.link-line:hover:before {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s var(--transition-main);
  transition-delay: 0s;
}

.link-line:hover:after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.8s var(--transition-main);
  transition-delay: 0s;
}

.link-line:hover svg {
  transform: rotate(45deg);
}

.reveal-title {
  font-size: 48px;
  font-weight: bold;
}

.reveal-line span {
  display: inline-block;
}

.canvas-text {
  width: 100% !important;
  height: 100dvh !important;
}

.animation-title {
  overflow: hidden;
  padding: 0 10rem 0 0;
}

.aniamtion-title span {
  margin: 0 20rem;
  display: inline-block;
}

.animation-title span:not(.letter) {
  margin: 0 20rem;
}

.animation-title span .letter {
  font-family: Sofia Sans Condensed;
  font-weight: 700;
  line-height: 99%;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
}

section:not(.hero) {
  opacity: 0;
  pointer-events: none;
}

main {
  opacity: 0;
}

.hero-title .hero-word:last-child::after {
  opacity: 0;
}

a {
  pointer-events: none;
}

body.loaded section,
body.loaded a,
body.loaded .header,
body.loaded main {
  opacity: 1;
  pointer-events: auto;
}

body.loaded .hero-title .hero-word:last-child::after {
  opacity: 1;
}

.slide-page-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #101010;
  z-index: 100000000;
}

.app-active .slide-page-transition,
.app-active .slide-page-transition-second {
  opacity: 1;
}

@media (max-width: 1100px) {
  body,
  html {
    overflow: hidden;
  }

  .animation-title span:not(.letter) {
    margin: 0 10px 0 0;
  }

  .scroll-container {
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .link-line svg {
    margin-left: 10px;
    width: 12px;
    height: 12px;
  }

  .link-line {
    padding-bottom: 3px;
  }

  .link-line:after {
    height: 2px;
  }

  .link-line:before {
    height: 2px;
  }

  .link {
    padding: 0 10px;
  }

  .link:after {
    font-size: 16px;
    right: -5px;
  }

  .link:before {
    font-size: 16px;
    left: -5px;
  }
}

.link {
  font-family: 'Spline Sans Mono';
  font-weight: 300;
  font-size: 24rem;
  line-height: 99%;
  letter-spacing: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  padding: 0 35rem;
  transition: 0.5s var(--transition-main);
  overflow: hidden;
  display: flex;
  align-items: center;

  @media (max-width: 1100px) {
    padding: 0 25px;
    height: 20px;
    display: flex;
    align-items: center;
  }

  @media (max-width: 430px) {
    padding: 0 20px;
  }

  span {
    font-size: 24rem;
    display: inline-block;

    @media (max-width: 1100px) {
      font-size: 20px;
    }
  }

  &:after {
    content: ']';
    position: absolute;
    top: 50%;
    font-size: 20rem;
    transform: translateY(-50%);
    right: 12rem;
    transition: 0.5s var(--transition-main);

    @media (max-width: 1100px) {
      font-size: 20px;
    }
  }

  &:before {
    content: '[';
    position: absolute;
    top: 50%;
    font-size: 20rem;
    transform: translateY(-50%);
    left: 12rem;
    transition: 0.5s var(--transition-main);

    @media (max-width: 1100px) {
      font-size: 20px;
    }
  }

  &:hover {
    &:after {
      right: 0;
    }
    &:before {
      left: 0;
    }
  }
}

.link .clone {
  position: absolute;
  left: 50%;
  translate: -50% 100%;
  top: 0;
  display: flex;

  @media (max-width: 1100px) {
    display: none;
  }
}

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18rem;
}

html,
body {
  font-size: 0.0520834vw;
  /* font-size: 0.520833vw; */
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable='false'])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable='true']) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

/* h1,p,a,span{
    font-size: 1.8rem;
} */
